.container {
    margin: 8rem auto;
    width: 95%;
    max-width: 1400px;
    display: grid;
    /* grid-template-rows: 8% auto; */
    grid-template-columns: 240px auto;
    grid-template-areas:
        "left top"
        "left right";
    column-gap: 2rem;
    row-gap: 1rem;

    .top {
        grid-area: top;
    }

    .left {
        grid-area: left;
        align-self: start;
    }

    .right {
        grid-area: right;
    }
}

/* @media (max-width: 1023px) {
    .container {
        margin: 8rem 2rem;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: "top" "middle" "bottom";

        .top {
            grid-area: top;
        }

        .left {
            grid-area: middle;
        }

        .right {
            grid-area: bottom;
        }
    }
} */

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        margin: 6rem auto;
        width: min(100% - 2rem, 900px);

        grid-template-columns: 180px 1fr;
        grid-template-areas:
            "left top"
            "left right";

        column-gap: 1.5rem;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 5rem 1.5rem;

        grid-template-columns: 1fr;
        grid-template-areas:
            "top"
            "left"
            "right";
    }
}