.table__container {
    max-width: 100%;
    margin: 1rem 2rem;

    table {
        width: 100%;
        text-align: center;
        background: color-mix(in srgb, var(--tertiary) 10%, transparent);
        border-radius: var(--radius);

        thead {
            background: color-mix(in srgb, var(--tertiary) 70%, transparent);
            font-size: 1.2rem;
            border-radius: var(--radius);
        }

        tbody {
            color: var(--text-secondary);
            font-size: 1rem;

            tr:nth-child(even) {
                background: color-mix(in srgb, var(--tertiary) 30%, transparent);
            }

            tr {
                div {
                    display: flex;
                    gap: 1rem;
                    justify-content: center;
                }
            }
        }
    }
}